@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
 --Dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text) */
--Dark-blue: hsl(198, 62%, 26%); /* (photography text) */
--Dark-moderate-cyan: hsl(168, 34%, 41%);  /*(footer)*/
--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);

}

body {
    width: 100%;
}

#banner {
    background: url(images/desktop/image-header.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--White);

}

header {
    padding: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;

}

.navbar li {
    list-style: none;
    margin: 0 1.5rem;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 1rem 1rem;
    transition: 0.3s ease;

}

.navbar li:hover{
    text-transform: uppercase;
}

.navbar li:nth-child(5){
    text-transform: uppercase;
    color: var(--Dark-blue);
    background: var(--White);
    font-family: "Fraunces", sans-serif;
    transition: 0.3s ease;
}

.navbar li:nth-child(5):hover{
    color: var(--White);
    background: var(--Grayish-blue);
}

.bar{
    display: none;
}

.close {
    display: none;
}

.banner-txt {
    text-align: center;
}

.banner-txt h1 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .5rem;
    text-transform: uppercase;
    margin: 2.5rem 0;
    font-family: "Fraunces", sans-serif;

}

#boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    
}

#boxes .box {
    min-width: 250px;
    text-align: left;
}

#boxes .box img {
    width: 100%;
}

#boxes .box .text{
    padding: 7rem 10rem;    
}

#boxes .box .text h2 {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: var(--Very-dark-desaturated-blue);
    line-height: 2.5rem;
    
}

#boxes .box .text p {
    line-height: 1.5rem;
    color: var(--Very-dark-grayish-blue);
    margin-top: 2rem;
}

#boxes .box .text button {
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
    cursor: pointer;
    border-bottom: 5px solid #ffff7f;
    margin-top: 2rem;
    transition: 0.3s ease;
}

#boxes .box .text button:hover {
    border-bottom: 5px solid var(--Yellow);
}

#boxes .box:nth-child(4) .text button {
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
    cursor: pointer;
    border-bottom: 5px solid #B86566;
    margin-top: 2rem;
    transition: 0.3s ease;
}

#boxes .box:nth-child(4) .text button:hover {
    border-bottom: 5px solid var(--Soft-red);
}

#boxes .box:nth-child(5){
    text-align: center; 
    position: relative;
    color: var(--Dark-desaturated-cyan);
}

#boxes .box:nth-child(6) {
    text-align: center;
    position: relative;
    color: var(--Dark-blue);
}

.text-abs{
    position: absolute;
    bottom: 1rem;
    padding: 0 10rem;
    line-height: 1.5rem;
    
}

.text-abs h2 {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}



#flex h2 {
    text-align: center;
    color: var(--Very-dark-grayish-blue);
    text-transform: uppercase;
    font-family: "Fraunces", sans-serif;
    padding-top: 8rem;
    font-size: 1.5rem;
    letter-spacing: .5rem;
}

.testimonials {
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.testimonials .testimonial {
    width: 300px;
    padding: 4rem 0;
    
}

.testimonials .testimonial img {
    border-radius: 50%;    
}

.testimonials .testimonial p {
    padding: 3rem 0;
    line-height: 1.5rem;
    color: var(--Very-dark-grayish-blue);

}

.testimonials .testimonial h3 {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    margin-bottom: 1rem;
}

.testimonials .testimonial span {
    color: var(--Very-dark-grayish-blue);
}

#pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding-top: 5rem;

}

#pictures .picture {
    min-width: 250px;
    
}

#pictures .picture img {
    width: 100%;
}

footer {
    background: var(--Dark-moderate-cyan);
    text-align: center;
    width: 100%;
    
}

.footer-image {
    padding: 2rem 0;
    color: var(--Dark-desaturated-cyan);
}

footer .footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-nav ul li {
    list-style: none;
    padding: 0 2rem;
    margin-bottom: 4rem;
    color: var(--Dark-desaturated-cyan);
    transition: 0.3s ease;
    cursor: pointer;
}

footer .footer-nav ul li:hover {
    color: var(--White);
}

footer .icon-images .icons{
    font-size: 1rem;
    padding: 2rem 1rem;
    color: var(--Dark-desaturated-cyan);
    transition: 0.3s ease;
    cursor: pointer;
}

footer .icon-images .icons:hover {
    color: var(--White);
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



@media (max-width: 799px) {
    body {
        overflow-x: hidden;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 6rem;
        right: -400px;
        height: 75vh;
        width: 400px;
        background: var(--White);
        padding: 2rem 4rem;
        transition: 0.3s;
    }

    .navbar.active {
        right: 3rem;
        
    }

    .navbar li {
        margin-bottom: 1rem;
        color: var(--Dark-grayish-blue);
    }

    .navbar li:nth-child(5) {
        background: var(--Yellow);
        color: var(--Dark-blue);
    }

    .bar{
        display: flex;
        cursor: pointer;
    }

    .close {
        display: flex;
        position: absolute;
        color: var(--Dark-blue);
        top: 2rem;
        font-size: 1rem;
        cursor: pointer;
    }
}